.img {
    width: 280px;
    height: 180px;
    min-width: 280px;
    min-height: 180px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .secondary {
      display: none;
    }
  }

.article-text-item {
    padding-left: 10px;
}

.secondary {
    padding-top: 10px;
}
.primary {
    padding-bottom: 5px;
}